<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }} | Node</title>
</head>
<body style="text-align: center;">
<p><a href="/">Home</a>&nbsp;<a href="about">About</a> <a href="projects">Projects</a> </p>
<h1>{{ pageTitle }}</h1>